
.iil-modale{
	padding: 1rem;

	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	bottom: 2dvh;
	right: 2dvh;

	opacity: 0;

	transition-property: opacity, transform, scale;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
}

.iil-modale__ouvert{
	opacity: 1;
	transform: translateY(-10px);
}

.iil-modale h2 {
	margin-top: 0.8rem;
	font-size: 1.5rem;
}

.iil-modale .ill-formulaire_input {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
}

.iil-modale .ill-formulaire_input > *:first-child {
	flex-basis: 0;
	flex-grow: 5;
}

.iil-modale .ill-formulaire_input > *:last-child {
	max-width: 12ch;
}


.iil-modale .paire {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.iil-modale :is(label, input) {
	font-size: 0.8rem;
	padding: 0.5rem;

	border-radius: 1px;
	border: none;
}

.iil-modale :is(button, input[type=submit]) {
	font-size: 0.8rem;
	padding-inline: 0.5rem;
	padding-block: 0.25rem;

	border-radius: 2px;
	border: none;
}

.iil-modale :is(button, input[type=submit]):hover {
	scale: 1.05;
}

.iil-modale :is(button, input[type=submit]):active {
	scale: 0.98;
}

.iil-modale input[type=submit] {
	display: block;
	margin-inline: auto;
}
