
.iil-modale.iil-modale__reset :is(input,label){
	margin: 0;
	padding: 0;
}

.iil-modale{

	padding: 2rem;

	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	bottom: 2dvh;
	right: 2dvh;

	opacity: 0;

	transition-property: opacity, transform, scale;
	transition-duration: 200ms, 300ms, 200ms;
	transition-timing-function: ease-in-out;
}

.iil-modale__ouvert{
	opacity: 1;
	transform: translateY(-10px);
}

.iil-modale__boutonFermer{
	padding: 0.2rem;

	position: absolute;
	top: 0.3rem;
	right: 0.5rem;

	cursor: pointer;
}

.iil-modale__fermer{
	display: none;
}

